/* ==========================================================================
    SCSS Styles [VARIABLES]
   Theme Settings
   ========================================================================== */

/* ========================================================== */
/* 			            01. general                               */
/* ========================================================== */
$mobile-first: false !default;
$media-var: if($mobile-first, "min", "max");
$root-font-size: 16px !default;

// This is the width of the initial designs - usually 1920px (used by vw() function)
$root-viewport-width: 1920px !default;

/* ========================================================== */
/* 			            02. grid                                  */
/* ========================================================== */
$grid-columns: 12 !default;
$grid-offsets: true !default;
$grid-gaps: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 40px,
  "4": 40px,
  "5": 50px,
) !default;

/* We can have extra column sizes */
$columns-extra: (
  "20": 20%,
) !default;

$margins-paddings: (
  "a": auto,
  "0": 0,
  "10": 10px,
  "15": 15px,
  "20": 20px,
  "25": 25px,
  "30": 30px,
  "35": 35px,
  "40": 40px,
) !default;

/* ========================================================== */
/* 			            03. utils                                 */
/* ========================================================== */
$enable-utils: true !default;
$enable-responsive-utils: true !default;
$utils: (
  // prettier-ignore
  "text{-}center": ("text-align", center),
  "text{-}left": ("text-align", left),
  "text{-}right": ("text-align", right),
  "float{-}left": ("float", left),
  "float{-}right": ("float", right),
  "overflow{-}hidden": ("overflow", hidden),
  "overflow{-}visible": ("overflow", visible),
  "position{-}static": ("position", static),
  "position{-}relative": ("position", relative),
  "position{-}absolute": ("position", absolute),
  "d{-}block": ("display", block),
  "d{-}inline-block": ("display", inline-block),
  "d{-}flex": ("display", flex),
  "d{-}inline-flex": ("display", inline-flex),
  "d{-}none": ("display", none),
  "align{-}center": ("align-items", center),
  "align{-}start": ("align-items", flex-start),
  "align{-}end": ("align-items", flex-end)
) !default;

/* ========================================================== */
/* 			            04. breakpoints                           */
/* ========================================================== */
$max-xs: 400px !default;
$max-sm: 500px !default;
$max-md: 768px !default;
$max-lg: 1024px !default;
$max-xl: 1366px !default;

$min-xs: 400.01px !default;
$min-sm: 500.01px !default;
$min-md: 768.01px !default;
$min-lg: 1024.01px !default;
$min-xl: 1366.01px !default;

$breakpoints: (
  "xl": $max-xl,
  "lg": $max-lg,
  "md": $max-md,
  "sm": $max-sm,
  "xs": $max-xs,
) !default;

@if $mobile-first {
  $breakpoints: (
    "xs": $min-xs,
    "sm": $min-sm,
    "md": $min-md,
    "lg": $min-lg,
    "xl": $min-xl,
  );
}

/* ========================================================== */
/* 			            05. css variables                         */
/* ========================================================== */

:root {
  /* html|body */
  --main-font-family: "Fira Sans Condensed";
  --main-font-size: #{$root-font-size};
  --main-font-color: #323335;
  --body-background: #fff;

  --white: #fff;
  --white2: #f1f3ee;
  --black: #000;
  --black2: #101010;
  --green: #657150;
  --green2: #a5aa9c;
  --green3: #bcc1b2;
  --grey: #444;
  --grey2: #5c5c5c;
  --pink: #edd8bf;
  --pink2: #e5d1c7;
  --pink3: #faf2ee;
  --pink4: #faf2ee59;
  --boho: #e6cfbd;
  --primary: var(--green2);
  --primary-light: var(--green3);

  /* layout */
  --container-width: 1440px;
  --container-pad: 40px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: $max-sm) {
  :root {
    --container-pad: 20px;
  }
}
